@import 'partials/reset';
@import 'partials/tasks';


body {
  background-image: url('/images/nice_snow.png');
}

h1 {
  font-size: 32px;
  padding: 10px;
}

#headerLogin {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  a {
    flex: 0 1 100%;
    margin: 1em;
    margin-bottom: 0em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: lighten(black, 40%);
  }
}

#loginInput {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  max-width: 35em;
  margin: auto;
  margin-top: 2.5em;
  background-color: rgba(160, 160, 160, 0.5);
  border: outset 2px lightgray;
  height: 25em;
  border-radius: 1em;

  #register {
    flex: 0 1 100%;
    padding: 1em;
    color: darken(gray, 20%);
    height: 0;

    a {
      text-decoration: none;
      color: darken(gray, 20%);

      &:hover {
        font-size: 1.05em;
        color: gray;
      }
    } 
  }

  label {
    flex: 0 0 50%;
    margin: 0.5em;
    color: darken(gray, 10%);
    height: 0;
  }
  input {
    flex: 0 1 50%;
    border-radius: 0.2em;
    margin: 0.5em;
    padding-left: 1em;
    height: 2.5em;

    &:focus {
      box-shadow: 0 0 5px 2px #7196c2;
    }
  }
  button {
    flex: 0 0 50%;
    margin: 1.5em;
    font-family: 'Open Sans', sans-serif;
    background-color: lightsteelblue;
    border: outset 1px lightsteelblue;
    border-radius: 5px;
    height: 2em;
  }
}

#header {
  background-color: darken(#C2D4EC, 5%);
  position: static;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 60px;
  align-items: center;


  #title {
    margin: 0 0 0 10px;
    text-decoration: none;
    font-size: 32px;
  }

  #loginInfo {
    margin: 0 10px 0 0;
  }
}


#tasks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .task-container {
    flex: 0 0 30%;
    text-align: center;
    margin: 10px;
  }
}

.task-column {
  display: flex;
  flex-flow: column nowrap;
  background-color: red;
  height: 50em;
  align-items: center;
  //justify-content: center;
  border-right: 1px solid black;
  overflow: scroll;
}

.task {
  width: 80%;
  flex: 0 0 250px;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  .todoTask {
    text-align: left;
  }
}

.arrows {
  display: flex;
  justify-content: center;
}

#kanbangularHeader {
  text-decoration: none;
}