@import 'partials/reset';

$primaryColor: green;

button {
  color: green;
  border: 1px solid green;
  font-weight: bold;
  &:hover {
    background-color: green;
    color: white;
  }
}

body {
  background-image: url('/images/nice_snow.png');
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32px;
  padding: 10px;
}

@import 'modules/tasks';

#headerLogin {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  a {
    flex: 0 1 100%;
    margin: 1em;
    margin-bottom: 0em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: lighten(black, 40%);
  }
}

#loginInput {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  max-width: 35em;
  margin: auto;
  margin-top: 2.5em;
  background-color: rgba(160, 160, 160, 0.5);
  border: outset 2px lightgray;
  height: 25em;
  border-radius: 1em;

  #register {
    flex: 0 1 100%;
    padding: 1em;
    color: darken(gray, 20%);
    height: 0;

    a {
      text-decoration: none;
      color: darken(gray, 20%);

      &:hover {
        font-size: 1.05em;
        color: gray;
      }
    } 
  }

  label {
    flex: 0 0 50%;
    margin: 0.5em;
    color: darken(gray, 10%);
    height: 0;
  }
  input {
    flex: 0 1 50%;
    border-radius: 0.2em;
    margin: 0.5em;
    padding-left: 1em;
    height: 2.5em;

    &:focus {
      box-shadow: 0 0 5px 2px #7196c2;
    }
  }
  button {
    flex: 0 0 50%;
    margin: 1.5em;
    font-family: 'Open Sans', sans-serif;
    background-color: lightsteelblue;
    border: outset 1px lightsteelblue;
    border-radius: 5px;
    height: 2em;
  }
}