<div id="header">
  <a id="title" href="/"><h1>Kanbangular</h1></a>
</div>

<div id="authContainer">
  <h1 id="authTitle">
    Login
  </h1>

  <div id="auth">
    <div id="switchAuth">
      <p>Don't have an account?</p>
      <a href='/register'>Sign Up</a>
    </div>
    <div class="authError" ng-if="loginError"><i class="fa fa-times" aria-hidden="true"></i>{{loginError}}</div>
    <form id="authForm">
      <label for="username">Username</label>
      <input type="text" name="username" ng-model="user.username"></input>
      <label id="password">Password</label>
      <input type="password" name="password" ng-model="user.password"></input>
      <button ng-click="login(user)">Login</button>
    </form>
  </div>
</div>