<div id="header">
  <a id="title" href="/"><h1>Kanbangular</h1></a>
</div>

<div id="loginTitle">
  Login
</div>

<div class="task">
  <div id="register">
    Don't have an account?<br>
    <a href='/register'>Sign Up</a>
  </div>
  <div class="errorMessage" ng-if="loginError">{{loginError}}</div>
  <form>
    <p>Username</p>
    <input type="text" ng-model="user.username"></input>
    <p>Password</p>
    <input type="password" ng-model="user.password"></input>
    <button ng-click="login(user)">Login</button>
  </form>
</div>