#loginHeader {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  font-size: 1.5em;

  a {
    flex: 0 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: lighten(black, 40%);

    &:hover {
      color: gray;
      font-size: 1.55em;
    }
  }
}

#loginTitle {
  text-align: center;
  margin: 0.5em;
  font-size: 1.5em;
  color: lighten(black, 40%);
}

#loginInput {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Open Sans', sans-serif;
  max-width: 35em;
  margin: auto;
  background-color: rgba(172,206,192, 0.5);
  border: outset 2px lighten(rgb(172,206,192), 10%);
  height: 25em;
  border-radius: 1em;

  #register {
    color: darken(gray, 20%);
    flex: 0 0 auto;
    padding: 1em;

    a {
      text-decoration: none;
      color: darken(gray, 20%);

      &:hover {
        font-size: 1.05em;
        color: gray;
      }
    } 
  }

  p {
    flex: 0 0 auto;
    margin: 1em;
    color: darken(gray, 15%);
  }

  input {
    flex: 0 0 auto;
    border-radius: 0.2em;
    padding-left: 1em;
    margin: 0 1em 1.5em 1em; 
    height: 3em;

    &:focus {
      box-shadow: 0 0 5px 1px #7196c2;
    }
  }
  button {
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: $teal;
    border: 2px outset $teal;
    border-radius: 5px;
    height: 3em;
    color: white;

    &:hover {
      border: outset 2px $darkTeal;
      background-color: $darkTeal;
    }
  }
}