#kanbangularHeader {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  font-size: 1.5em;

  .header {
    flex: 0 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;

    a {
      text-decoration: none;
      color: lighten(black, 40%);
    }

    &:hover {
      color: gray;
      font-size: 1.55em;
    }
  }

  #headerSpace {
    flex: 1 0 50%;
  }

  #logoutLink {
    font-size: 0.75em;
  }
}

#registerTitle {
  text-align: center;
  margin: 0.5em;
  font-size: 1.5em;
  color: lighten(black, 40%);  
}

#registerInput {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Open Sans', sans-serif;
  max-width: 35em;
  margin: auto;
  background-color: rgba(172,206,192, 0.5);
  border: outset 2px lighten(rgb(172,206,192), 10%);
  height: 25em;
  border-radius: 1em;

  #login {
    color: darken(gray, 20%);
    flex: 0 0 auto;
    padding: 1em;

    a {
      text-decoration: none;
      color: darken(gray, 20%);
      margin: 1px;

      &:hover {
        font-size: 1.05em;
        color: gray;
      }
    } 
  }

  p {
    flex: 0 0 auto;
    margin: 1em;
    color: darken(gray, 15%);
  }

  form {
    display: flex;
    flex-flow: column nowrap;
  }

  input {
    flex: 0 0 auto;
    border-radius: 0.2em;
    padding-left: 1em;
    margin: 0 1em 1.5em 1em; 
    height: 3em;

    &:focus {
      box-shadow: 0 0 5px 2px #7196c2;
    }
  }
  button {
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: $teal;
    border: outset 2px $teal;
    border-radius: 5px;
    height: 3em;
    color: white;

    &:hover {
      border: outset 2px darken($teal, 5%);
      background-color: darken($teal, 5%);
    }
  }
}