

h1 {
  font-size: 32px;
  padding: 10px;
}

#header {
  background-color: green;
  position: static;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 60px;
  align-items: center;

  #title {
    margin: 0 0 0 10px;
    text-decoration: none;
    font-size: 32px;
  }

  #loginInfo {
    margin: 0 10px 0 0;
  }
}

#topBar {
  margin: 0 0 0 10px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // #addTaskButton {
  //   flex: 0 0 auto;
  //   padding: 10px;
  //   border-radius: 5px;
  //   border: none;
  //   background-color: lighten(blue, 40%);
  //   &:hover {
  //     background-color: lighten(blue, 20%);
  //   }
  // }
}

#tasks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: lighten(grey, 15%);
  .task-container {
    flex: 1 0 auto;
    text-align: center;
  }
}

.task-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.task-spacer {
  flex: 0 0 10px;
  background-color: darken(grey, 13%);
}

.task {
  width: 85%;
  flex: 0 1 250px;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: darken(white, 10%);
  display: flex;
  flex-flow: column nowrap;
  .todoTask {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: 100%;
  }

  .inProgressTask {

  }
}

.spacer {
  flex: 1 1 auto;
}

.arrows {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .disabledButton {
    color: grey;
  }
  button {
    margin: 10px;
  }
  // button {
  //   margin: 10px;
  //   color: green;
  //   border: 1px solid green;
  //   font-weight: bold
  // }
}

.buttons {
  display: flex;
  flex-flow: 0 0 auto;
  justify-content: flex-end;
  margin-bottom: 10px;
  .edit {
    margin-right: 10px;
  }
  .delete {
    color: red;
    padding: 5px;
  }
}

.body {
  .title {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .description {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.todoTaskForm {
  display: flex;
  flex-flow: column nowrap;

  textarea {
    flex: 1 1 30%;
    resize: vertical;
  }

  input[type="text"] {
    flex: 0 0 10%;
    transition: box-shadow 0.3s, border 0.3s;
  }

  input[type="text"]:focus {
    border: solid 1px #707070;
  }

  button {
    flex: 1 1 30%;
    padding: 10px;
    margin-bottom: 10px;
  }
}


